    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      align-items: center;
    }
    body {
      margin: 0;
      padding: 0;
      background-image: linear-gradient(to left,red, red,rgb(255, 75, 174),rgb(255, 75, 174), red,red);
      background-size: 500% 100%;
      animation: degrade-animado 8s infinite alternate;
    }

    header {
      background-color: black;
      width: 100%;
      display: flex;
      position: sticky;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-top: 1px solid rgb(180, 180, 180);
    }
    .logo-imagem{
      width: 10%;
      margin-left: 20px;
    }
    .logo-imagem::before{
      content: "";
      width: 100%;
      height: 100%;
    }
    .logo-imagem:hover{
      scale: 1.25;
      transition: 0.5s;
    }
    .menu li{
      display:inline-flex;
      margin: 0 50px;
    }
    .menu li a{
      font-size: 23px;
      text-decoration:none;
      color: white;
      text-transform: uppercase;
      padding: 10px 15px;
      position: relative;
      margin-left: 20px;
    }
    .menu li a::after{
      content: "";
      width: 0%;
      height: 4px;
      background-color: red;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: 0.5s ease-in-out;
    }
    .menu li a:hover::after{
      width: 100%;
    }
    .search-container {
      position: relative;
      width: 40px;
      height: 40px;
      margin-right: 250px;
  }
  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .search-icon::before {
    content: '';
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 2px solid red;
  }
  
  .search-icon::after {
    content: '';
    width: 20%;
    height: 2px;
    background-color: red;
  }
  
  .search-input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 40px;
    transition: all 0.7s;
    width: 300px;
    box-shadow: 2px 2px 5px #777;
  }
  .search-input:valid {
    width: 300px;
  }
    .login-container {
      width: 400px;
      margin: 0 auto;
      margin-top: 150px;
      padding: 20px;
      border-radius: 20px;
      border: #000000;
      border-width: 5px;
      border-style: solid;
      background-color: #FFFFFF;
    }
    .login-container h1 {
      text-align: center; 
      margin-bottom: 40px;
    }
    .login-text input{
      position: relative;
      height: 50px;
      width: 100%;
      outline: none;
      border: 3px solid red;
      border-radius: 7px;
      font-size: 18px;
      padding: 0px 15px;
    }
    .login-text input:focus{
      border: 5px solid black;
    }
    .login-text label{
      position: absolute;
      font-size: 19px;
      padding: 0 7px;
      margin: 7px 30px;
      background-color: white;
      z-index: +1;
      transition: 0.2 ease-in-out;
      pointer-events: none;
    }
    .login-text a {
      font-size: 14px;
      color: #FF0000;
      text-decoration: none;
      font-weight: bold;
      padding: 10px 45px;
      margin: 5px;
    }
    .login-text a:visited {color: #FF0000;
    }
    .botao-login input{
      width: 100%;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      border: 2px solid black;
      margin-top:10px;
      padding: 7px;
      border-radius: 15px;
      background-color: white;
    }
    .botao-login input:hover{
      animation: troca-botao 0.7s infinite alternate;
    }
    footer {
      background-color: black;
      bottom: 0;
      position:fixed;
      width: 100%;
      margin-top: 3px solid black;
      color: white;
    }
    footer .container-footer{
      display:flex;
      margin-left: 120px;
    }
    footer .container-footer ul {
      width: 25%;
      list-style: none;
      margin-left: 25px;
    }
    footer .container-footer .redes-sociais img{
      width: 35px;
      margin-right: 15px;
    }
    footer .container-footer ul > p{
      margin-bottom: 10px;
    }
    footer .container-footer li{
      margin: 10px 0;
    }
    footer .container-footer a{
      color: white;
      text-decoration: none;
    }
    footer .container-footer a:hover{
      font-size: 19px;
      transition: 0.2s;
    }


@keyframes degrade-animado {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 100%;
  }
}

@keyframes troca-botao {
  0%{
    border-color: black;
    background-color: white;
    color: black;
  }
  100%{
    border-color: white;
    background-color: black;
    color: white;
  }
}